/* regole di debug */

[class^="container"]{
    background-color: blue;
}

[class^="row"]{
    background-color: red;

    /* NO DEBUG */
    margin: 10px;
    
}

[class^="col"]{
    background-color: green;
    border: 2px solid black;
    
}